:root {
    --webrun-master-skin-version: 1;
    --bs-primary: #026cba;
    --bs-primary-rgb: 2,108,186;
    --bs-secondary: #6c757d;
    --bs-secondary-rgb: 108,117,125;
    --bs-success: #198754;
    --bs-success-rgb: 25,135,84;
    --bs-danger: #dc3545;
    --bs-danger-rgb: 220,53,69;
    --bs-warning: #ffc107;
    --bs-warning-rgb: 255,193,7;
    --bs-info: #0dcaf0;
    --bs-info-rgb: 13,202,240;
    --bs-light: #f8f9fa;
    --bs-light-rgb: 248,249,250;
    --bs-dark: #212529;
    --bs-dark-rgb: 33,37,41;
    --bs-white: #fff;
    --bs-white-rgb: 255,255,255;
    --bs-black: #000;
    --bs-black-rgb: 0,0,0;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-font-family: Arial;
    --bs-body-bg-inverted: #FFFFE;
    --bs-body-bg-inverted-rgb: 0,0,0;
    --bs-body-color-inverted: #FFFFE;
    --bs-body-color-inverted-rgb: 0,0,0;
    --bs-link-color: #026cba;
    --bs-link-color-rgb: 2,108,186;
    --bs-tooltip-bg: #000;
    --bs-tooltip-color: #fff;
    --bs-border-color: #dee2e6;
    --bs-border-color-rgb: 222,226,230;
    --bs-border-color-translucent: rgba(222,226,230,0.8);
    --webrun-scale: .95rem;
    --webrun-scale-value: .95;
    --webrun-margin-bottom-label: 0rem;
    --webrun-components-font-size-label: .9rem;
    --webrun-highlight-bg: #026cba;
    --webrun-highlight-bg-rgb: 2,108,186;
    --webrun-highlight-color: #fff;
    --webrun-highlight-color-rgb: 255,255,255;
    --webrun-components-bg: var(--bs-body-bg);
    --webrun-components-bg-rgb: var(--bs-body-bg-rgb);
    --webrun-components-color: var(--bs-body-color);
    --webrun-components-color-rgb: var(--bs-body-color-rgb);
    --webrun-components-disabled-bg: rgba(var(--bs-body-color-rgb),0.04);
    --webrun-components-disabled-bg-rgb: var(--webrun-components-disabled-bg);
    --webrun-components-disabled-color: rgba(var(--bs-body-color-rgb),0.65);
    --webrun-components-disabled-color-rgb: var(--webrun-components-disabled-color);
    --webrun-form-padding-horizontal: .75rem;
    --webrun-form-padding-vertical: .375rem;
    --webrun-form-icons-font-size: 1.45rem;
    --webrun-form-nav-padding-icons: .85rem;
    --webrun-grid-highlight-bg: var(--bs-primary);
    --webrun-grid-highlight-bg-rgb: 2,108,186;
    --webrun-grid-highlight-color: #fff;
    --webrun-grid-highlight-color-rgb: 255,255,255;
    --webrun-grid-selected-row-bg: var(--bs-secondary);
    --webrun-grid-selected-row-color: #fff;
    --webrun-grid-border-color: var(--bs-border-color);
    --webrun-grid-border-color-rgb: var(--bs-border-color-rgb)
}

html:not(.not-applicable) {
    font-size: var(--webrun-scale)!important
}

.form-group .form-label:not(.not-applicable) {
    margin-bottom: var(--webrun-margin-bottom-label)!important
}

.form-group .form-label:not(.not-applicable) {
    font-size: var(--webrun-components-font-size-label)!important
}

body,.dropdown-menu,.dropdown-item,.modal-content,.page-link,.popover,.popover-body,.accordion-item,.accordion-button {
    font-family: var(--bs-body-font-family)!important
}

.form-control:not([type='color']):not(.not-applicable):not(#lookupInput):not(.HTMLListagem .form-control),.form-control-plaintext,.input-group-text:not(.not-applicable),.form-select:not(.not-applicable) {
    padding-left: var(--webrun-form-padding-horizontal)!important;
    padding-right: var(--webrun-form-padding-horizontal)!important
}

.form-control:not([type='color']):not(.not-applicable):not(#lookupInput):not(.HTMLListagem .form-control),.form-control-plaintext,.input-group-text:not(.not-applicable) {
    padding-top: var(--webrun-form-padding-vertical)!important;
    padding-bottom: var(--webrun-form-padding-vertical)!important
}

.input-group .form-control+.btn {
    padding-left: var(--webrun-form-padding-horizontal)!important;
    padding-right: var(--webrun-form-padding-horizontal)!important
}

.input-group .form-control+.btn {
    padding-top: var(--webrun-form-padding-vertical)!important;
    padding-bottom: var(--webrun-form-padding-vertical)!important
}

.input-group.lookup {
    height: auto!important
}

.form-control,.form-control-plaintext,.form-select,.form-check-input {
    color: var(--webrun-components-color)!important;
    background-color: var(--webrun-components-bg)!important
}

.progress-bar {
    color: var(--webrun-highlight-color)!important;
    background-color: var(--webrun-highlight-bg)!important
}

.navbar {
    --bs-navbar-brand-color: rgba(var(--bs-body-color-rgb),0.9);
    --bs-navbar-brand-hover-color: rgba(var(--bs-body-color-rgb),0.9);
    --bs-navbar-color: rgba(var(--bs-body-color-rgb),0.55);
    --bs-navbar-hover-color: rgba(var(--bs-body-color-rgb),0.7);
    --bs-navbar-active-color: rgba(var(--bs-body-color-rgb),0.9);
    --bs-navbar-disabled-color: rgba(var(--bs-body-color-inverted-rgb),0.3)
}

.navbar-light .nav-link,.navbar-light .navbar-brand {
    color: var(--bs-body-color)!important
}

.navbar-dark .nav-link,.navbar-dark .navbar-brand {
    color: var(--bs-body-color-inverted)!important
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(var(--bs-body-color-rgb),0.65)!important
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(var(--bs-body-color-inverted-rgb),0.65)!important
}

.navbar .btn-link {
    color: var(--bs-navbar-color)!important
}

.navbar .btn-link:hover {
    color: var(--bs-navbar-hover-color)!important
}

.navbar .btn-link:active {
    color: var(--bs-navbar-active-color)!important
}

.navbar .btn-link:disabled {
    color: var(--bs-navbar-disabled-color)!important
}

#formNavbar .navbar-nav .nav-link i {
    font-size: var(--webrun-form-icons-font-size)!important
}

#formNavbar .navbar-nav .nav-item a {
    padding: var(--webrun-form-nav-padding-icons)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-include {
    color: var(--webrun-form-nav-include-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-edit {
    color: var(--webrun-form-nav-edit-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-first {
    color: var(--webrun-form-nav-first-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-previous {
    color: var(--webrun-form-nav-previous-record-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-next {
    color: var(--webrun-form-nav-next-record-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-last {
    color: var(--webrun-form-nav-last-record-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-delete {
    color: var(--webrun-form-nav-delete-record-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-refresh {
    color: var(--webrun-form-nav-refresh-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-print {
    color: var(--webrun-form-nav-print-out-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-log {
    color: var(--webrun-form-nav-log-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-default {
    color: var(--webrun-form-nav-default-values-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-help {
    color: var(--webrun-form-nav-help-color)!important
}

#formNavbar .navbar-nav .webrun-form-nav-exit {
    color: var(--webrun-form-nav-exit-color)!important
}

#formNavbar .navbar-nav .webrun-form-nav-save-more {
    color: var(--webrun-form-nav-save-more-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-save {
    color: var(--webrun-form-nav-save-color)!important
}

#formNavbar .navbar-nav .nav-link.webrun-form-nav-cancel {
    color: var(--webrun-form-nav-cancel-color)!important
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke=' %23212529' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important
}

select[disabled],select[disabled] option {
    color: rgba(var(--bs-body-color-rgb),0.65)!important
}

.bg-primary,.badge-primary,.table-primary,.thead-primary {
    background-color: var(--bs-primary)!important
}

.text-bg-primary {
    color: #fff!important;
    background-color: var(--bs-primary)!important
}

.text-primary {
    color: var(--bs-primary)!important
}

.border-primary {
    border-color: var(--bs-primary)!important
}

.navbar.bg-primary,.navbar.text-bg-primary {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-primary,.card.text-bg-primary {
    --bs-card-bg: var(--bs-primary);
    --bs-card-bg-rgb: var(--bs-primary-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-primary,.toast.text-bg-primary {
    --bs-toast-bg: var(--bs-primary);
    --bs-toast-bg-rgb: var(--bs-primary-rgb);
    --bs-toast-header-bg: var(--bs-primary);
    --bs-toast-header-bg-rgb: var(--bs-primary-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-primary,.toast-header.text-bg-primary,.toast-header.bg-primary .btn-close,.toast-header.text-bg-primary .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-primary,.toast-header.text-bg-primary {
    background-color: var(--bs-primary)!important
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-color: #fff;
    --bs-btn-active-bg: #0161a7;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #0161a7;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-color: var(--bs-primary);
    background-color: var(--bs-primary)!important;
    border-color: transparent!important;
    color: #fff!important
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus,.btn-primary.active {
    background-color: #0161a7!important
}

.btn-primary:focus,.btn-outline-primary:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb),0.25)!important
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-border-color: var(--bs-primary);
    color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important
}

.btn-outline-primary:hover,.btn-outline-primary:active,.btn-outline-primary:focus,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--bs-primary)!important;
    color: #fff!important
}

.bg-secondary,.badge-secondary,.table-secondary,.thead-secondary {
    background-color: var(--bs-secondary)!important
}

.text-bg-secondary {
    color: #fff!important;
    background-color: var(--bs-secondary)!important
}

.text-secondary {
    color: var(--bs-secondary)!important
}

.border-secondary {
    border-color: var(--bs-secondary)!important
}

.navbar.bg-secondary,.navbar.text-bg-secondary {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-secondary,.card.text-bg-secondary {
    --bs-card-bg: var(--bs-secondary);
    --bs-card-bg-rgb: var(--bs-secondary-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-secondary,.toast.text-bg-secondary {
    --bs-toast-bg: var(--bs-secondary);
    --bs-toast-bg-rgb: var(--bs-secondary-rgb);
    --bs-toast-header-bg: var(--bs-secondary);
    --bs-toast-header-bg-rgb: var(--bs-secondary-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-secondary,.toast-header.text-bg-secondary,.toast-header.bg-secondary .btn-close,.toast-header.text-bg-secondary .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-secondary,.toast-header.text-bg-secondary {
    background-color: var(--bs-secondary)!important
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-color: #fff;
    --bs-btn-active-bg: #616970;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #616970;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-color: var(--bs-secondary);
    background-color: var(--bs-secondary)!important;
    border-color: transparent!important;
    color: #fff!important
}

.btn-secondary:hover,.btn-secondary:active,.btn-secondary:focus,.btn-secondary.active {
    background-color: #616970!important
}

.btn-secondary:focus,.btn-outline-secondary:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-secondary-rgb),0.25)!important
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-border-color: var(--bs-secondary);
    color: var(--bs-secondary)!important;
    border-color: var(--bs-secondary)!important
}

.btn-outline-secondary:hover,.btn-outline-secondary:active,.btn-outline-secondary:focus,.btn-outline-secondary.active,.btn-outline-secondary.dropdown-toggle.show {
    background-color: var(--bs-secondary)!important;
    color: #fff!important
}

.bg-dark,.badge-dark,.table-dark,.thead-dark {
    background-color: var(--bs-dark)!important
}

.text-bg-dark {
    color: #fff!important;
    background-color: var(--bs-dark)!important
}

.text-dark {
    color: var(--bs-dark)!important
}

.border-dark {
    border-color: var(--bs-dark)!important
}

.navbar.bg-dark,.navbar.text-bg-dark {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-dark,.card.text-bg-dark {
    --bs-card-bg: var(--bs-dark);
    --bs-card-bg-rgb: var(--bs-dark-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-dark,.toast.text-bg-dark {
    --bs-toast-bg: var(--bs-dark);
    --bs-toast-bg-rgb: var(--bs-dark-rgb);
    --bs-toast-header-bg: var(--bs-dark);
    --bs-toast-header-bg-rgb: var(--bs-dark-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-dark,.toast-header.text-bg-dark,.toast-header.bg-dark .btn-close,.toast-header.text-bg-dark .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-dark,.toast-header.text-bg-dark {
    background-color: var(--bs-dark)!important
}

.btn-dark {
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-color: #fff;
    --bs-btn-active-bg: #1d2124;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #1d2124;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-color: var(--bs-dark);
    background-color: var(--bs-dark)!important;
    border-color: transparent!important;
    color: #fff!important
}

.btn-dark:hover,.btn-dark:active,.btn-dark:focus,.btn-dark.active {
    background-color: #1d2124!important
}

.btn-dark:focus,.btn-outline-dark:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-dark-rgb),0.25)!important
}

.btn-outline-dark {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-dark);
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-color: #fff;
    --bs-btn-border-color: var(--bs-dark);
    color: var(--bs-dark)!important;
    border-color: var(--bs-dark)!important
}

.btn-outline-dark:hover,.btn-outline-dark:active,.btn-outline-dark:focus,.btn-outline-dark.active,.btn-outline-dark.dropdown-toggle.show {
    background-color: var(--bs-dark)!important;
    color: #fff!important
}

.bg-light,.badge-light,.table-light,.thead-light {
    background-color: var(--bs-light)!important
}

.text-bg-light {
    color: #000!important;
    background-color: var(--bs-light)!important
}

.text-light {
    color: var(--bs-light)!important
}

.border-light {
    border-color: var(--bs-light)!important
}

.navbar.bg-light,.navbar.text-bg-light {
    --bs-navbar-brand-color: rgba(0,0,0,0.9);
    --bs-navbar-brand-hover-color: rgba(0,0,0,0.9);
    --bs-navbar-color: rgba(0,0,0,0.55);
    --bs-navbar-hover-color: rgba(0,0,0,0.7);
    --bs-navbar-active-color: rgba(0,0,0,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-light,.card.text-bg-light {
    --bs-card-bg: var(--bs-light);
    --bs-card-bg-rgb: var(--bs-light-rgb);
    --bs-card-color: #000;
    --bs-card-color-rgb: 0,0,0;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-light,.toast.text-bg-light {
    --bs-toast-bg: var(--bs-light);
    --bs-toast-bg-rgb: var(--bs-light-rgb);
    --bs-toast-header-bg: var(--bs-light);
    --bs-toast-header-bg-rgb: var(--bs-light-rgb);
    --bs-toast-color: #000;
    --bs-toast-color-rgb: 0,0,0;
    --bs-toast-header-color: #000;
    --bs-toast-header-color-rgb: 0,0,0;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-light,.toast-header.text-bg-light,.toast-header.bg-light .btn-close,.toast-header.text-bg-light .btn-close {
    color: 0,0,0!important
}

.toast-header.bg-light,.toast-header.text-bg-light {
    background-color: var(--bs-light)!important
}

.btn-light {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-color: #000;
    --bs-btn-active-bg: #dfe0e1;
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: #dfe0e1;
    --bs-btn-hover-color: #000;
    --bs-btn-disabled-color: #000;
    --bs-btn-border-color: var(--bs-light);
    background-color: var(--bs-light)!important;
    border-color: transparent!important;
    color: #000!important
}

.btn-light:hover,.btn-light:active,.btn-light:focus,.btn-light.active {
    background-color: #dfe0e1!important
}

.btn-light:focus,.btn-outline-light:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-light-rgb),0.25)!important
}

.btn-outline-light {
    --bs-btn-color: var(--bs-light);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-color: #000;
    --bs-btn-border-color: var(--bs-light);
    color: var(--bs-light)!important;
    border-color: var(--bs-light)!important
}

.btn-outline-light:hover,.btn-outline-light:active,.btn-outline-light:focus,.btn-outline-light.active,.btn-outline-light.dropdown-toggle.show {
    background-color: var(--bs-light)!important;
    color: #000!important
}

.bg-danger,.badge-danger,.table-danger,.thead-danger {
    background-color: var(--bs-danger)!important
}

.text-bg-danger {
    color: #fff!important;
    background-color: var(--bs-danger)!important
}

.text-danger {
    color: var(--bs-danger)!important
}

.border-danger {
    border-color: var(--bs-danger)!important
}

.navbar.bg-danger,.navbar.text-bg-danger {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-danger,.card.text-bg-danger {
    --bs-card-bg: var(--bs-danger);
    --bs-card-bg-rgb: var(--bs-danger-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-danger,.toast.text-bg-danger {
    --bs-toast-bg: var(--bs-danger);
    --bs-toast-bg-rgb: var(--bs-danger-rgb);
    --bs-toast-header-bg: var(--bs-danger);
    --bs-toast-header-bg-rgb: var(--bs-danger-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-danger,.toast-header.text-bg-danger,.toast-header.bg-danger .btn-close,.toast-header.text-bg-danger .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-danger,.toast-header.text-bg-danger {
    background-color: var(--bs-danger)!important
}

.btn-danger {
    --bs-btn-bg: var(--bs-danger);
    --bs-btn-color: #fff;
    --bs-btn-active-bg: #c62f3e;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #c62f3e;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-color: var(--bs-danger);
    background-color: var(--bs-danger)!important;
    border-color: transparent!important;
    color: #fff!important
}

.btn-danger:hover,.btn-danger:active,.btn-danger:focus,.btn-danger.active {
    background-color: #c62f3e!important
}

.btn-danger:focus,.btn-outline-danger:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-danger-rgb),0.25)!important
}

.btn-outline-danger {
    --bs-btn-color: var(--bs-danger);
    --bs-btn-active-bg: var(--bs-danger);
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: var(--bs-danger);
    --bs-btn-hover-color: #fff;
    --bs-btn-border-color: var(--bs-danger);
    color: var(--bs-danger)!important;
    border-color: var(--bs-danger)!important
}

.btn-outline-danger:hover,.btn-outline-danger:active,.btn-outline-danger:focus,.btn-outline-danger.active,.btn-outline-danger.dropdown-toggle.show {
    background-color: var(--bs-danger)!important;
    color: #fff!important
}

.bg-success,.badge-success,.table-success,.thead-success {
    background-color: var(--bs-success)!important
}

.text-bg-success {
    color: #fff!important;
    background-color: var(--bs-success)!important
}

.text-success {
    color: var(--bs-success)!important
}

.border-success {
    border-color: var(--bs-success)!important
}

.navbar.bg-success,.navbar.text-bg-success {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-success,.card.text-bg-success {
    --bs-card-bg: var(--bs-success);
    --bs-card-bg-rgb: var(--bs-success-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-success,.toast.text-bg-success {
    --bs-toast-bg: var(--bs-success);
    --bs-toast-bg-rgb: var(--bs-success-rgb);
    --bs-toast-header-bg: var(--bs-success);
    --bs-toast-header-bg-rgb: var(--bs-success-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-success,.toast-header.text-bg-success,.toast-header.bg-success .btn-close,.toast-header.text-bg-success .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-success,.toast-header.text-bg-success {
    background-color: var(--bs-success)!important
}

.btn-success {
    --bs-btn-bg: var(--bs-success);
    --bs-btn-color: #fff;
    --bs-btn-active-bg: #16794b;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #16794b;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-color: var(--bs-success);
    background-color: var(--bs-success)!important;
    border-color: transparent!important;
    color: #fff!important
}

.btn-success:hover,.btn-success:active,.btn-success:focus,.btn-success.active {
    background-color: #16794b!important
}

.btn-success:focus,.btn-outline-success:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-success-rgb),0.25)!important
}

.btn-outline-success {
    --bs-btn-color: var(--bs-success);
    --bs-btn-active-bg: var(--bs-success);
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: var(--bs-success);
    --bs-btn-hover-color: #fff;
    --bs-btn-border-color: var(--bs-success);
    color: var(--bs-success)!important;
    border-color: var(--bs-success)!important
}

.btn-outline-success:hover,.btn-outline-success:active,.btn-outline-success:focus,.btn-outline-success.active,.btn-outline-success.dropdown-toggle.show {
    background-color: var(--bs-success)!important;
    color: #fff!important
}

.bg-warning,.badge-warning,.table-warning,.thead-warning {
    background-color: var(--bs-warning)!important
}

.text-bg-warning {
    color: #000!important;
    background-color: var(--bs-warning)!important
}

.text-warning {
    color: var(--bs-warning)!important
}

.border-warning {
    border-color: var(--bs-warning)!important
}

.navbar.bg-warning,.navbar.text-bg-warning {
    --bs-navbar-brand-color: rgba(0,0,0,0.9);
    --bs-navbar-brand-hover-color: rgba(0,0,0,0.9);
    --bs-navbar-color: rgba(0,0,0,0.55);
    --bs-navbar-hover-color: rgba(0,0,0,0.7);
    --bs-navbar-active-color: rgba(0,0,0,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-warning,.card.text-bg-warning {
    --bs-card-bg: var(--bs-warning);
    --bs-card-bg-rgb: var(--bs-warning-rgb);
    --bs-card-color: #000;
    --bs-card-color-rgb: 0,0,0;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-warning,.toast.text-bg-warning {
    --bs-toast-bg: var(--bs-warning);
    --bs-toast-bg-rgb: var(--bs-warning-rgb);
    --bs-toast-header-bg: var(--bs-warning);
    --bs-toast-header-bg-rgb: var(--bs-warning-rgb);
    --bs-toast-color: #000;
    --bs-toast-color-rgb: 0,0,0;
    --bs-toast-header-color: #000;
    --bs-toast-header-color-rgb: 0,0,0;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-warning,.toast-header.text-bg-warning,.toast-header.bg-warning .btn-close,.toast-header.text-bg-warning .btn-close {
    color: 0,0,0!important
}

.toast-header.bg-warning,.toast-header.text-bg-warning {
    background-color: var(--bs-warning)!important
}

.btn-warning {
    --bs-btn-bg: var(--bs-warning);
    --bs-btn-color: #000;
    --bs-btn-active-bg: #e5ad06;
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: #e5ad06;
    --bs-btn-hover-color: #000;
    --bs-btn-disabled-color: #000;
    --bs-btn-border-color: var(--bs-warning);
    background-color: var(--bs-warning)!important;
    border-color: transparent!important;
    color: #000!important
}

.btn-warning:hover,.btn-warning:active,.btn-warning:focus,.btn-warning.active {
    background-color: #e5ad06!important
}

.btn-warning:focus,.btn-outline-warning:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-warning-rgb),0.25)!important
}

.btn-outline-warning {
    --bs-btn-color: var(--bs-warning);
    --bs-btn-active-bg: var(--bs-warning);
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: var(--bs-warning);
    --bs-btn-hover-color: #000;
    --bs-btn-border-color: var(--bs-warning);
    color: var(--bs-warning)!important;
    border-color: var(--bs-warning)!important
}

.btn-outline-warning:hover,.btn-outline-warning:active,.btn-outline-warning:focus,.btn-outline-warning.active,.btn-outline-warning.dropdown-toggle.show {
    background-color: var(--bs-warning)!important;
    color: #000!important
}

.bg-info,.badge-info,.table-info,.thead-info {
    background-color: var(--bs-info)!important
}

.text-bg-info {
    color: #000!important;
    background-color: var(--bs-info)!important
}

.text-info {
    color: var(--bs-info)!important
}

.border-info {
    border-color: var(--bs-info)!important
}

.navbar.bg-info,.navbar.text-bg-info {
    --bs-navbar-brand-color: rgba(0,0,0,0.9);
    --bs-navbar-brand-hover-color: rgba(0,0,0,0.9);
    --bs-navbar-color: rgba(0,0,0,0.55);
    --bs-navbar-hover-color: rgba(0,0,0,0.7);
    --bs-navbar-active-color: rgba(0,0,0,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-info,.card.text-bg-info {
    --bs-card-bg: var(--bs-info);
    --bs-card-bg-rgb: var(--bs-info-rgb);
    --bs-card-color: #000;
    --bs-card-color-rgb: 0,0,0;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-info,.toast.text-bg-info {
    --bs-toast-bg: var(--bs-info);
    --bs-toast-bg-rgb: var(--bs-info-rgb);
    --bs-toast-header-bg: var(--bs-info);
    --bs-toast-header-bg-rgb: var(--bs-info-rgb);
    --bs-toast-color: #000;
    --bs-toast-color-rgb: 0,0,0;
    --bs-toast-header-color: #000;
    --bs-toast-header-color-rgb: 0,0,0;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-info,.toast-header.text-bg-info,.toast-header.bg-info .btn-close,.toast-header.text-bg-info .btn-close {
    color: 0,0,0!important
}

.toast-header.bg-info,.toast-header.text-bg-info {
    background-color: var(--bs-info)!important
}

.btn-info {
    --bs-btn-bg: var(--bs-info);
    --bs-btn-color: #000;
    --bs-btn-active-bg: #0bb5d8;
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: #0bb5d8;
    --bs-btn-hover-color: #000;
    --bs-btn-disabled-color: #000;
    --bs-btn-border-color: var(--bs-info);
    background-color: var(--bs-info)!important;
    border-color: transparent!important;
    color: #000!important
}

.btn-info:hover,.btn-info:active,.btn-info:focus,.btn-info.active {
    background-color: #0bb5d8!important
}

.btn-info:focus,.btn-outline-info:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-info-rgb),0.25)!important
}

.btn-outline-info {
    --bs-btn-color: var(--bs-info);
    --bs-btn-active-bg: var(--bs-info);
    --bs-btn-active-color: #000;
    --bs-btn-hover-bg: var(--bs-info);
    --bs-btn-hover-color: #000;
    --bs-btn-border-color: var(--bs-info);
    color: var(--bs-info)!important;
    border-color: var(--bs-info)!important
}

.btn-outline-info:hover,.btn-outline-info:active,.btn-outline-info:focus,.btn-outline-info.active,.btn-outline-info.dropdown-toggle.show {
    background-color: var(--bs-info)!important;
    color: #000!important
}

.bg-link,.badge-link,.table-link,.thead-link {
    background-color: var(--bs-link-color)!important
}

.text-bg-link {
    color: #fff!important;
    background-color: var(--bs-link-color)!important
}

.text-link {
    color: var(--bs-link-color)!important
}

.border-link {
    border-color: var(--bs-link-color)!important
}

.navbar.bg-link,.navbar.text-bg-link {
    --bs-navbar-brand-color: rgba(255,255,255,0.9);
    --bs-navbar-brand-hover-color: rgba(255,255,255,0.9);
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.7);
    --bs-navbar-active-color: rgba(255,255,255,0.9);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3)
}

.card.bg-link,.card.text-bg-link {
    --bs-card-bg: var(--bs-link-color);
    --bs-card-bg-rgb: var(--bs-link-color-rgb);
    --bs-card-color: #fff;
    --bs-card-color-rgb: 255,255,255;
    color: var(--bs-card-color)!important;
    background-color: var(--bs-card-bg)!important
}

.toast.bg-link,.toast.text-bg-link {
    --bs-toast-bg: var(--bs-link-color);
    --bs-toast-bg-rgb: var(--bs-link-color-rgb);
    --bs-toast-header-bg: var(--bs-link-color);
    --bs-toast-header-bg-rgb: var(--bs-link-color-rgb);
    --bs-toast-color: #fff;
    --bs-toast-color-rgb: 255,255,255;
    --bs-toast-header-color: #fff;
    --bs-toast-header-color-rgb: 255,255,255;
    color: var(--bs-toast-color)!important;
    background-color: var(--bs-toast-bg)!important
}

.toast-header.bg-link,.toast-header.text-bg-link,.toast-header.bg-link .btn-close,.toast-header.text-bg-link .btn-close {
    color: 255,255,255!important
}

.toast-header.bg-link,.toast-header.text-bg-link {
    background-color: var(--bs-link-color)!important
}

.btn-link {
    color: var(--bs-link-color)!important
}

.btn-link:hover,.btn-link:active,.btn-link.active {
    color: #0161a7!important
}

.btn-link:focus,.btn-outline-link:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-link-color-rgb),0.25)!important
}

.btn-outline-link {
    color: var(--bs-link-color)!important;
    border-color: var(--bs-link-color)!important
}

.btn-outline-link:hover,.btn-outline-link:active,.btn-outline-link.active,.btn-outline-link.dropdown-toggle.show {
    background-color: var(--bs-link-color)!important;
    color: #fff!important
}

.text-muted {
    color: #6c757d
}

.dropdown-item:focus,.dropdown-item:active,.dropdown-item.active,.form-check-input:checked,.page-link.active,.page-link:active,.page-link:focus {
    border-color: var(--webrun-highlight-bg)!important;
    background-color: var(--webrun-highlight-bg)!important;
    color: var(--webrun-highlight-color)!important
}

.list-group {
    --bs-list-group-color: var(--bs-body-color);
    --bs-list-group-bg: var(--bs-body-bg);
    --bs-list-group-disabled-bg: rgba(var(--bs-body-color-rgb),0.04);
    --bs-list-group-disabled-color: rgba(var(--bs-body-color-rgb),0.65);
    --bs-list-group-active-color: var(--webrun-highlight-color);
    --bs-list-group-active-bg: var(--webrun-highlight-bg);
    --bs-list-group-active-border-color: var(--webrun-highlight-bg)
}

.list-group .list-group-item:active,.list-group .list-group-item.active {
    border-color: var(--webrun-highlight-bg)!important;
    background-color: var(--webrun-highlight-bg)!important;
    color: var(--webrun-highlight-color)!important
}

.form-control:focus,.form-select:focus,.form-check-input:focus,.accordion-button:focus {
    border-color: var(--webrun-highlight-bg)!important;
    box-shadow: 0 0 0 3px rgba(var(--webrun-highlight-bg-rgb),0.25)!important
}

.form-control:disabled,.form-control-plaintext:disabled,.form-select:disabled,.form-check-input:disabled:not(:checked) {
    border-color: var(--bs-border-color)!important;
    color: var(--webrun-components-disabled-color)!important;
    background-color: var(--webrun-components-disabled-bg)!important
}

.form-control:not(.list-group):read-only,.form-control-plaintext:read-only,.form-check-input:read-only:not(:checked) {
    border-color: var(--bs-border-color)!important;
    color: var(--webrun-components-disabled-color)!important;
    background-color: var(--webrun-components-disabled-bg)!important
}

.form-control-plaintext {
    background-color: transparent!important;
    border-color: transparent!important
}

.list-group .list-group-item:not(.active):not(:active):focus,.list-group .list-group-item:not(.active):not(:active):hover,.page-link:hover,.page-link:focus {
    color: var(--bs-body-color)!important;
    background-color: rgba(var(--bs-body-color-rgb),0.075)!important
}

.list-group .list-group-item.disabled,.dropdown-menu .dropdown-item.disabled,.input-group-text,.page-link.disabled {
    color: rgba(var(--bs-body-color-rgb),0.65)!important
}

.border,.nav-tabs,.dropdown-menu,.form-control,.form-select,.form-check-input,.lookup.lookup-styled,.list-group,.list-group .list-group-item,.modal-content,.modal-header,.modal-footer,.table,.table-bordered,.table td,.table th,.input-group-text,.page-link,.popover,.accordion-item {
    border-color: var(--bs-border-color)!important
}

.border-start {
    border-left-color: var(--bs-border-color)!important
}

.border-end {
    border-right-color: var(--bs-border-color)!important
}

.border-top,.dropdown-divider {
    border-top-color: var(--bs-border-color)!important
}

.dropdown-divider {
    opacity: 1.0!important
}

.border-bottom {
    border-bottom-color: var(--bs-border-color)!important
}

.nav-tabs .nav-link {
    color: var(--bs-link-color)!important
}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    border-color: #e9edf1!important
}

.nav-tabs .nav-link.active,.nav-tabs .nav-link:active {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-body-bg)!important;
    border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg)!important
}

.bg-light .nav-tabs .nav-link.active,.bg-light .nav-tabs .nav-link:active {
    color: #000!important;
    background-color: var(--bs-light)!important;
    border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-light)!important
}

.bg-dark .nav-tabs .nav-link.active,.bg-dark .nav-tabs .nav-link:active {
    color: #fff!important;
    background-color: var(--bs-dark)!important;
    border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-dark)!important
}

.page-link,.page-link>i,.page-link>span,.page-link>p {
    color: var(--bs-body-color)!important
}

.page-link:active,.page-link.active {
    background-color: rgba(var(--bs-body-color-rgb),0.25)!important;
    color: var(--bs-body-color)!important
}

.card {
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-bg-rgb: var(--bs-body-bg-rgb);
    --bs-card-color: var(--bs-body-color);
    --bs-card-color-rgb: var(--bs-body-color-rgb);
    --bs-card-border-color: var(--bs-border-color)
}

.offcanvas,.offcanvas-lg,.offcanvas-md,.offcanvas-sm,.offcanvas-xl,.offcanvas-xxl {
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-bg-rgb: var(--bs-body-bg-rgb);
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-color-rgb: var(--bs-body-color-rgb);
    --bs-offcanvas-border-color: var(--bs-border-color)
}

.lookup.lookup-styled .input-group-append,.lookup.lookup-styled .input-group-append.disabled {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23212529' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px!important
}

.lookup.lookup-styled,.lookup.lookup-styled .input-group-append {
    color: var(--webrun-components-color)!important;
    background-color: var(--webrun-components-bg)!important
}

.lookup.lookup-styled:focus {
    border-color: var(--webrun-highlight-bg)!important;
    box-shadow: 0 0 0 3px rgba(var(--webrun-highlight-bg-rgb),0.25)!important
}

.lookup.lookup-styled .form-control:focus {
    border: 0!important;
    box-shadow: none!important
}

.lookup.lookup-styled input:disabled,.lookup.lookup-styled input:read-only,.lookup.lookup-styled.disabled>* {
    color: var(--webrun-components-disabled-color)!important;
    background-color: var(--webrun-components-disabled-bg)!important
}

.lookup.lookup-styled .input-group-append.disabled {
    color: var(--webrun-components-disabled-color)!important;
    background-color: var(--webrun-components-disabled-bg)!important
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")!important
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFFFFF'/%3e%3c/svg%3e")
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28%23212529, 0.25%29'/%3e%3c/svg%3e")!important
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e")!important
}

.form-range::-webkit-slider-thumb {
    background-color: var(--webrun-highlight-bg)!important
}

.form-range::-moz-range-thumb {
    background-color: var(--webrun-highlight-bg)!important
}

.form-range::-webkit-slider-runnable-track {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.form-range::-moz-range-track {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px var(--webrun-highlight-color),0 0 0 3px rgba(var(--webrun-highlight-bg-rgb),0.25)!important
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px var(--webrun-highlight-color),0 0 0 3px rgba(var(--webrun-highlight-bg-rgb),0.25)!important
}

.form-range::-webkit-slider-thumb:active {
    background-color: #0161a7!important
}

.form-range::-moz-range-thumb:active {
    background-color: #0161a7!important
}

.form-range:disabled::-webkit-slider-thumb {
    background-color: #8ab4d4!important
}

.form-range:disabled::-moz-range-thumb {
    background-color: #8ab4d4!important
}

.form-range:disabled::-webkit-slider-runnable-track {
    background-color: rgba(var(--bs-body-color-rgb),0.04)!important
}

.form-range:disabled::-moz-range-track {
    background-color: rgba(var(--bs-body-color-rgb),0.04)!important
}

.toast,.toast-header,.toast-body,.toast-footer {
    color: var(--bs-body-color)!important;
    background-color: rgba(var(--bs-body-bg-rgb),0.85)!important;
    border-color: var(--bs-border-color)!important
}

.progress {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.tooltip {
    --bs-tooltip-bg: #000;
    --bs-tooltip-color: #fff
}

.tooltip-inner {
    background-color: var(--bs-tooltip-bg)!important;
    color: var(--bs-tooltip-color)!important
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--bs-tooltip-bg)!important
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--bs-tooltip-bg)!important
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before,.bs-tooltip-left .tooltip-arrow::before,.bs-tooltip-auto[data-popper-placement^=start] .tooltip-arrow::before,.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--bs-tooltip-bg)!important
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,.bs-tooltip-right .tooltip-arrow::before,.bs-tooltip-auto[data-popper-placement^=end] .tooltip-arrow::before,.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--bs-tooltip-bg)!important
}

.popover {
    --bs-popover-bg: var(--bs-body-bg);
    --bs-popover-bg-rgb: var(--bs-body-bg-rgb);
    --bs-popover-body-color: var(--bs-body-color);
    --bs-popover-body-color-rgb: var(--bs-body-color-rgb);
    --bs-popover-border-color: var(--bs-border-color);
    --bs-popover-header-bg: #f2f2f2;
    --bs-popover-header-color: #000
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 var(--bs-border-color)!important
}

.accordion-button:focus {
    background-color: rgba(var(--webrun-highlight-bg-rgb),0.15)!important;
    box-shadow: 0 0 0 3px rgba(var(--webrun-highlight-bg-rgb),0.25)!important
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important
}

.accordion-button:focus::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23026cba'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important
}

.table {
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(var(--bs-body-color-rgb),0.025);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(var(--bs-body-color-rgb),0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(var(--bs-body-color-rgb),0.075);
    color: var(--bs-body-color)!important
}

.table tbody tr.highlight td {
    color: var(--bs-body-color)!important;
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.JCLRgrip.JCLRLastGrip {
    border-color: var(--bs-border-color)!important
}

.jumbotron,.input-group-text,.figure,.breadcrumb {
    background-color: #e5e5e5!important
}

.btn-close {
    color: var(--bs-body-color)!important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-bottom-color: var(--bs-body-bg)!important
}

.bootstrap-datetimepicker-widget table td.day:hover,.bootstrap-datetimepicker-widget table td.hour:hover,.bootstrap-datetimepicker-widget table td.minute:hover,.bootstrap-datetimepicker-widget table td.second:hover,.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,.bootstrap-datetimepicker-widget table td span:hover,.bootstrap-datetimepicker-widget table td i:hover {
    background-color: rgba(var(--bs-body-color-rgb),0.075)!important;
    color: var(--bs-body-color)!important
}

.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td span.active,.bootstrap-datetimepicker-widget table td i.active {
    background-color: var(--bs-primary)!important;
    color: #fff!important;
    text-shadow: none!important
}

.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #0161a7!important;
    color: #fff!important
}

.bootstrap-datetimepicker-widget .btn {
    --bs-btn-color: var(--bs-body-color);
    color: var(--bs-btn-color)!important
}

.trumbowyg-box,.trumbowyg-editor,.trumbowyg-button-pane,.trumbowyg-dropdown,.trumbowyg-modal-box .trumbowyg-modal-title,.trumbowyg-modal-box label input,.trumbowyg-modal-box label .trumbowyg-input-infos span {
    border-color: var(--bs-border-color)!important
}

.trumbowyg-overlay {
    background-color: rgba(var(--bs-body-bg-rgb),0.5)!important
}

.trumbowyg-button-pane::after,.trumbowyg-button-pane .trumbowyg-button-group::after {
    background-color: var(--bs-border-color)!important
}

.trumbowyg-textarea,.trumbowyg-modal-box,.trumbowyg-dropdown,.trumbowyg-dropdown:not(.trumbowyg-dropdown-backColor):not(.trumbowyg-dropdown-foreColor) button,.trumbowyg-modal-box label input {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-body-bg)!important
}

.trumbowyg-modal-box .trumbowyg-modal-title,.trumbowyg-modal-box label .trumbowyg-input-infos span {
    color: var(--bs-body-color)!important;
    background-color: #f2f2f2!important
}

.trumbowyg-dropdown:not(.trumbowyg-dropdown-backColor):not(.trumbowyg-dropdown-foreColor) button:hover,.trumbowyg-dropdown:not(.trumbowyg-dropdown-backColor) button:focus {
    background-color: rgba(var(--bs-body-color-rgb),0.075)!important
}

.trumbowyg-dropdown:not(.trumbowyg-dropdown-backColor):not(.trumbowyg-dropdown-foreColor) button:active {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.trumbowyg-box svg,.trumbowyg-modal svg {
    color: var(--bs-body-color)!important;
    fill: var(--bs-body-color)!important
}

.trumbowyg-button-pane button,.trumbowyg-dropdown button,.trumbowyg-dropdown button span,.trumbowyg-modal-title {
    color: var(--bs-body-color)!important
}

.trumbowyg-button-pane button.trumbowyg-active,.trumbowyg-button-pane button:not(.trumbowyg-disable):focus,.trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

td:not(.alert)>a.fc-day-number {
    color: var(--bs-body-color)!important
}

.fc-theme-bootstrap5 .fc-list,.fc-theme-bootstrap5 .fc-scrollgrid,.fc-theme-bootstrap5 td,.fc-theme-bootstrap5 th {
    border-color: var(--bs-border-color)!important
}

.fc .fc-daygrid-week-number {
    background: rgba(var(--bs-body-color-rgb),0.05)!important
}

.fc .fc-non-business {
    background-color: var(--bs-light)!important
}

.swal2-popup {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-body-bg)!important;
    font-family: var(--bs-body-font-family)!important
}

.swal2-title,.swal2-content {
    color: var(--bs-body-color)!important
}

.swal2-input {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-body-bg)!important;
    border-color: var(--bs-border-color)!important
}

.swal2-input:hover,.swal2-input:focus {
    background-color: rgba(var(--bs-body-color-rgb),0.075)!important
}

.swal2-input:active {
    background-color: rgba(var(--bs-body-color-rgb),0.1)!important
}

.swal2-styled.swal2-confirm {
    background-color: #026cba!important;
    border-color: transparent!important;
    color: #fff!important
}

.swal2-styled.swal2-confirm:hover,.swal2-styled.swal2-confirm:active {
    background-color: #0161a7!important
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb),0.25)!important
}

.swal2-styled.swal2-cancel {
    background-color: #6c757d!important;
    border-color: transparent!important;
    color: #fff!important
}

.swal2-styled.swal2-cancel:hover,.swal2-styled.swal2-cancel:active {
    background-color: #616970!important
}

.swal2-styled.swal2-cancel:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-secondary-rgb),0.25)!important
}

.swal2-styled.swal2-deny {
    background-color: #dc3545!important;
    border-color: transparent!important;
    color: #fff!important
}

.swal2-styled.swal2-deny:hover,.swal2-styled.swal2-deny:active {
    background-color: #c62f3e!important
}

.swal2-styled.swal2-deny:focus {
    box-shadow: 0 0 0 3px rgba(var(--bs-danger-rgb),0.25)!important
}

.swal2-icon.swal2-success {
    border-color: rgba(var(--bs-success-rgb),0.9)!important;
    color: var(--bs-success)!important
}

.swal2-icon.swal2-error {
    border-color: rgba(var(--bs-danger-rgb),0.9)!important;
    color: var(--bs-danger)!important
}

.swal2-icon.swal2-warning {
    border-color: rgba(var(--bs-warning-rgb),0.9)!important;
    color: var(--bs-warning)!important
}

.swal2-icon.swal2-info {
    border-color: rgba(var(--bs-info-rgb),0.9)!important;
    color: var(--bs-info)!important
}

.HTMLListagem .form-select,.HTMLListagem .input-group .form-control {
    padding: 0 .75rem!important
}

.HTMLListagemFields .form-group .input-group .btn {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
    padding-left: 12px!important;
    padding-right: 12px!important
}

.accordion-button,.accordion-button:focus {
    background-color: rgba(var(--bs-primary-rgb))!important;
    border-color: var(--bs-primary)!important;
    color: var(--bs-white)!important
}

.accordion-button::after,.accordion-button:focus::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important
}

#WFRIframeForm464568375>div.card-header.bg-light.p-0.d-flex.flex-row {
    visibility: hidden!important
}

.mh-auto {
    min-height: auto!important
}

.left-unset {
    left: unset!important
}

.right-unset {
    right: unset!important
}

.top-unset {
    top: unset!important
}

.bottom-unset {
    bottom: unset!important
}

.left-auto {
    left: auto!important
}

.right-auto {
    right: auto!important
}

.top-auto {
    top: auto!important
}

.bottom-auto {
    bottom: auto!important
}

.max-content{
    width: max-content!important
}

@media(min-width: 576px) {
    #WFRIframeForm464568375,#WFRIframeForm8396 {
        left:50%!important;
        top: 50%!important;
        width: 95%!important;
        height: 95%!important;
        transform: translate(-50%,-50%)
    }
}
